  <script >
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', event=>{
      const confirmation = confirm('deseja deletar?')
      if(!confirmation) {
        event.preventDefault()
      }
    })
  </script>