<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%block head%}
            <title>Gym Manager</title>
            {%endblock%}
            <link rel="stylesheet" href="/styles.css">

        </head>

        <body>
            <header>
                <div class="links">
                    <a href="/instructors">
                        Instructors</a>
                    <a href="/members">Members</a>

                </div>
            </header>

            {% block content %}{% endblock %}

            <script src="/script.js"></script>
        </body>

    </html>