{% extends 'layout.njk' %}

{% block content %}
  <div class="card table-conteiner ">
  <div class="header">

    <a href="/members/create">Novo</a>

      <form action="/members" method="GET">
        <input type="text" name="filter" value="{{filter}}" placeholder="Filtrar">
        <button type="submit">Buscar </button>
      </form>

    </div>
    <table>
      <thead>

        <tr>
          <th>Nome</th>
          <th>
            E-mail</th>
          <th>
            Peso</th>
          <th>
            Altura</th>
          <th>
            Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for member in members %}
          <tr>
            <td>
              <div>
                <span style="background-image: url({{member.avatar_url}})"></span>
                {{member.name}}
              </div>
            </td>
            <td>{{member.email}}</td>
            <td>{{member.weight}}kg</td>
            <td>{{member.height}}cm</td>
            <td>
              <a href="/members/{{member.id}}">ver</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
     <div class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}} 
    data-filter={{filter}} >
        
    </div>
  </div>

{% endblock content %}